/* assets/css/_variables.css */
@font-face {
    font-family: 'Paradocx CA';
    /* Certifique-se de criar a pasta 'fonts' dentro de 'assets' e colocar o arquivo lá */
    src: url('../fonts/PARADOCX_CA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
  --color-background: #121212;
  --color-surface: #1f1f1f;
  --color-surface-darker: #101010;
  --color-primary: #bb86fc;
  --color-primary-variant: #a062e8;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #b0b0b0;
  --color-text-muted: #888;
  --color-border: #333;
  --color-border-light: #555;
  --color-text-on-primary: #121212; /* Texto escuro para botões roxos */

  --font-family-base: Arial, Helvetica, sans-serif;
  --font-family-monospace: 'Courier New', Courier, monospace; /* Para títulos específicos */
  --font-family-paradocx: 'Paradocx CA', sans-serif; /* Fonte personalizada para títulos */
  --font-family-code: 'JetBrains Mono', monospace; /* Fonte monoespaçada para código */

  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
}